# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# VS Code settings
# -----------------------------
.vscode/

# -----------------------------
# Output folders
# -----------------------------
output/
audios/

# -----------------------------
# Large ML Models (IMPORTANT)
# -----------------------------
vosk-model/

# -----------------------------
# Dataset (if large)
# -----------------------------
dataset/

# -----------------------------
# System files
# -----------------------------
.DS_Store
Thumbs.db
